* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    /* width: 100vw; */
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(206, 135, 135), rgb(96, 224, 96)); 
    background-size: cover;
    background-position:90% 90%;
    background-repeat: no-repeat;
}

header {
    width: 80vw;
    /* height: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-left: 0;
    margin-bottom: 10px;
    /* padding-top: 1rem; */
    /* padding-bottom: 1rem; */
    /* background-color: greenyellow; */
    border-radius: 20px;

}
/* nav { */
/*     display: flex; */
/*     flex-direction: column; */
/*     justify-content: center; */
/* } */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}
nav ul li:hover { 
    transform: scale(1.1);
}
nav ul li a {
    text-decoration: none;
    font-weight: bold;
    background-color: greenyellow;
    padding: 1rem;
    border-radius: 20px;
}
nav ul li:hover {
    transform: scale(1.1);
}
main {
    /* width: 80vw; */
   /*  height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
}
.heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 10px;
    /* background: url(/assets/gabin-vallet-J154nEkpzlQ-unsplash.jpg); */
    /* background-position: left; */
    /* background-size: cover; */
    /* height: 10%; */
    /* width: 80vw; */

}
.heading h1 {
    background-color: greenyellow;
   /*  height: 50px; */
   /*  width: 80vw; */
    padding-left: 1rem;
    border-radius: 20px;
    overflow: auto;
    text-align: center;
    
}
.disclaimer {
    background-color: yellow;
    border: 2px solid red;
    text-align: center;
    padding: 2px;
    overflow: auto;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 2rem; */
    /* width: 99%; */
    /* height: 90%; */
    /* margin: 2rem; */
}
.card-container a {
    width: 400px;
    height: 400px;
    text-decoration: none;
    margin: 50px;
    /* margin-left: 80px; */
}
.card-container a:hover {
    transform: scale(1.1);
}
.card-container a:first-of-type:hover::after,
.card-container a:nth-of-type(3):hover::after {
    content: "WAY TO GO!!!";
    color: green;
    font-weight: bolder;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    /* transform: scale(1.1) rotateY(180deg); */
}
.card-container a:nth-of-type(2):hover::after {
    content: "TRY IT OUT!!!";
color: green;
font-weight: bolder;
background-color: rgba(255,255,255,0.5);
border-radius: 10px;
.card-container a:nth-of-type(4):hover::before,
.card-container a:nth-of-type(5):hover::before,
.card-container a:nth-of-type(6):hover::before {
    content: "CLICK IMAGE TO READ MORE";
    color: red;
    font-weight: bolder;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
}
.card {
    width: 100%;
    height: 100%;
    border: 2px solid green;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 1rem; */
    border-radius: 20px;
    /* overflow: auto; */
        
}
.card p,
.card h3 {
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
    border-radius: 20px;
    text-align: center;
}
.card a {
    text-decoration: none;
    color: red;
}
.card1 {
    background: url("./assets/sleeping/gregory-pappas-rUc9hVE-L-E-unsplash.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;

}
.card2 {
    background: url("./assets/sleeping/patrick-hendry-XX4Y1j3rPjI-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.card3 {
    background: url("./assets/sleeping/pexels-cottonbro-studio-10211657.jpg");
    background-size: cover;
    background-position: bottom;
}
.card4 {
    background: url("./assets/sleeping/alexandra-gorn-smuS_jUZa9I-unsplash.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
}
.card5 {
    background: url("./assets/sleeping/mika-ruusunen-JFx9xYR_8vw-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.card6 {
    background: url("./assets/sleeping/pexels-andrea-piacquadio-3931860.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    direction: column;
    /* justify-content: flex-start; */
}
.card1,
.card2,
.card3 {
    color: green;
    font-weight: 800;
}
.card4,
.card5,
.card6 {
    color: red;
    font-weight: 800;
}

footer {
    width: 80vw;
  /*   height: 10vh; */
    margin-bottom: 1rem;
    margin-left: 0;
    margin-top: -10px;
}
.footer {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    /* padding-top: 1rem; */
    /* padding-bottom: 1rem; */
    /* background-color: greenyellow; */
    border-radius: 20px;
    font-weight: bold;
}
.footer p {
    background-color: greenyellow;
    border-radius: 20px;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
}
.footer p:nth-of-type(1):hover {
    transform: scale(1.1);
}
.footer p a {
    text-decoration: none;
    color: black;
}

 @media (max-width: 870px) {
    main {
        width: 85vw;
    }
    
    .card-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .card-container a {
        width: 80vw;
    }
 }

 @media (max-width: 574px) {
    .heading h1 {
        height: 100px;
    }
 }